<a href="/">首页</a>
<a href="/books/">资料</a>
<a href="/notes/">相关的建议</a>
<a href="/about/">关于</a>
<a href="/student">学生</a>

<style>
    a {
        background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
    }
</style>
